<h3> This is your jason response </h3>
<h2> Bitcoin clash hash : <%=@crypto.bitcoin%></h2>
<h2> EOS clash hash :     <%=@crypto.eos%></h2>

 <li>bitcoin: $<%=@bitcoin_price%> </li>
 <li>bitcoin_24_hour_change_USD: $<%=@bitcoin_24_hour_change_USD%> </li>
 <li>bitcoin_24_hour_change_Percent: %<%=@bitcoin_24_hour_change_Percent%> </li>

 <h2> XRP</h2>
 <li>XRP: $<%=@xrp_price%> </li>
 <li>bitcoin_24_hour_change_USD: $<%=@xrp_24_hour_change_USD%> </li>
 <li>bitcoin_24_hour_change_Percent: %<%=@xrp_24_hour_change_Percent%> </li>
