<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- SEO strategies -->

        <meta name="bitcoin news" content="latest news about the Cryptocurrency Market.">
        <!-- SEO strategies -->

        <title> | BlockcoinX - Crypto Web Application</title>
        <meta name="description" content="Responsive, Bootstrap, BS4" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- for ios 7 style, multi-resolution icon of 152x152 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
        <link rel="apple-touch-icon" href="../assets/images/logo.svg">
        <meta name="apple-mobile-web-app-title" content="Flatkit">
        <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="../assets/images/logo.svg">
        <!-- style -->
        <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css" type="text/css" />
        <!-- build:css ../assets/css/app.min.css -->
        <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/app.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
        <!-- endbuild -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134233387-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134233387-2');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

    </head>
    <body>
        <header class="app-header deep-purple">
            <div class="navbar navbar-expand-lg">
                <!-- Page title -->
                <title>BlockcoinX</title>

                <!-- brand -->
                <a href="#home" class="navbar-brand">
                    <svg viewBox="0 0 24 24" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z"
                        fill="#fff" class="" />
                    </svg>
                </a>
                <!-- / brand -->
                <ul class="nav flex-row order-lg-2">
                    <!-- Notification -->

                    <!-- User dropdown menu -->

                    <!-- Navarbar toggle btn -->
                    <li class="d-lg-none d-flex align-items-center">
                        <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                                <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <!-- Navbar collapse -->
                <div class="collapse navbar-collapse  order-lg-1" id="navbarToggler">
                    <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2 ">
                        <li class="nav-item">
                            <a href="#prices" class="nav-link">
                                Prices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#news" class="nav-link">
                                News
                            </a>

                        </li>

                    </ul>

                </div>
            </div>
        </header>
        <div class="app" id="app">
            <!-- ############ LAYOUT START-->
            <!-- ############ Content START-->
            <div id="content" class="app-content " role="main">
                <!-- This is just for ajax, you can remove it in production -->
                <div class="hide">
                    <div class="content-header" id="content-header"></div>
                </div>
                <!-- Main -->
                <div class="content-main " id="content-main">
                    <!-- ############ Main START-->
                    <div>
                        <div class="deep-purple">
                            <div class="padding py-5">
                                <div class="d-sm-flex align-items-center">
                                    <div class="d-flex align-items-center">

                                        <div id="home" class="mx-2">
                                            <span class="text-lg _700">
					    	BlockCoin X <span class="text-muted text-sm">inc</span>
                                            </span>
                                            <div>
                                                <a href="#" class="mr-1">The best place for crypto news and market data</a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex"></div>

                                </div>
                                <div class="mt-5">
                                    <a href="#" class="btn info">Register
                                        <i class="fa fa-arrow-right ml-2"></i>
                                    </a>
                                    <a href="#" class="btn warn">Login
                                        <i class="fa fa-arrow-right ml-2"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="padding">
                            <div class="row">
                                <div class="col-6 col-lg-3">
                                    <div class="box p-3 white">
                                        <div class="py-2 text-md text-success">
                                            $300,042,081,189 <span class="text-muted">USD</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="flex text-muted">Market Size</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3">
                                    <div class="box p-3 white">
                                        <div class="py-2 text-md text-warn">
                                            20,578
                                        </div>
                                        <div class="d-flex">
                                            <span class="flex text-muted">Total Markets</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3">
                                    <div class="box p-3 white">
                                        <div class="py-2 text-md text-warning">
                                            5,109
                                        </div>
                                        <div class="d-flex">
                                            <span class="flex text-muted">Total Currencies</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-3">
                                    <div class="box p-3 white">
                                        <div class="py-2 text-md text-warn">
                                            62.6 <span class="text-muted">%</span>
                                        </div>
                                        <div class="d-flex">
                                            <span class="flex text-muted">BTC Dominance</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div id ="prices" class="box-header">
                                    <h2>LeaderBoard</h2>
                                </div>
                                <div class="p-2">
                                    <div class="row">

                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover b-t">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Change </th>
                                                <th>Change in Percent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                              <!-- PNext refactor: We need to give the task of changing the color to front end instead of model -->
                                              <!-- PNext refactor: We need to add + and - to the changes -->
                                              <!-- PNrewrite a loop for when we need to add the next 100 crypto Cryptocurrency -->
                                              <!-- is it wise to write interger formating function on the view? -->
                                              <!-- need a recursion function to make this more readable when I have more time -->


                                                <td>Bitcoin</td>
                                                <td class="text-muted" class="<%=@crypto.bitcoin[:change_usd]%>"> <%=number_to_currency(@crypto.bitcoin[:price])%> </td>
                                                <td class="<%=@crypto.color(@crypto.bitcoin[:change_usd])%>"> <%=number_to_currency(@crypto.bitcoin[:change_usd])%> </td>
                                                <td class="<%=@crypto.color(@crypto.bitcoin[:change_usd])%>"> % <%=@crypto.bitcoin[:change_percent]%> </td>
                                            </tr>
                                            <tr>
                                              <td >Ethereum</td>
                                              <td class="text-muted" class="<%=@crypto.ethereum[:change_usd]%>"><%= number_to_currency(@crypto.ethereum[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.ethereum[:change_usd])%>" > <%=number_to_currency(@crypto.ethereum[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.ethereum[:change_usd])%>">  % <%=@crypto.ethereum[:change_percent]%>   </td>
                                            </tr>
                                            <tr>
                                              <td>XRP</td>
                                              <td class="text-muted" class="<%=@crypto.xrp[:change_usd]%>">                      <%=number_to_currency(@crypto.xrp[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.xrp[:change_usd])%>">      <%=number_to_currency(@crypto.xrp[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.xrp[:change_usd])%>">      % <%=@crypto.xrp[:change_percent]%>  </td>
                                            </tr>
                                            <tr>
                                              <td>Bitcoin Cash</td>
                                              <td class="text-muted" class="<%=@crypto.bitcoin_cash[:change_usd]%>">    <%=number_to_currency(@crypto.bitcoin_cash[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.bitcoin_cash[:change_usd])%>">      <%=number_to_currency(@crypto.bitcoin_cash[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.bitcoin_cash[:change_usd])%>">      %<%=@crypto.bitcoin_cash[:change_percent]%>  </td>
                                            </tr>
                                            <tr>
                                              <td>Bitcoin SV</td>
                                              <td class="text-muted" class="<%=@crypto.bitcoin_sv[:change_usd]%>">   <%=number_to_currency(@crypto.bitcoin_sv[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.bitcoin_sv[:change_usd])%>">      <%=number_to_currency(@crypto.bitcoin_sv[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.bitcoin_sv[:change_usd])%>">      %<%=@crypto.bitcoin_sv[:change_percent]%>  </td>
                                            </tr>
                                            <tr>
                                              <td>Litecoin</td>
                                              <td class="text-muted" class="<%=@crypto.litecoin[:change_usd]%>">      <%=number_to_currency(@crypto.litecoin[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.litecoin[:change_usd])%>">      <%=number_to_currency(@crypto.litecoin[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.litecoin[:change_usd])%>">      %<%=@crypto.litecoin[:change_percent]%>  </td>
                                            </tr>
                                            <tr>
                                              <td>Tether</td>
                                              <td class="text-muted" class="<%=@crypto.tether[:change_usd]%>">      <%=number_to_currency(@crypto.tether[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.tether[:change_usd])%>">      <%=number_to_currency(@crypto.tether[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.tether[:change_usd])%>">      % <%=@crypto.tether[:change_percent]%>  </td>
                                            </tr>
                                            <tr>
                                              <td>Eos</td>
                                              <td class="text-muted" class="<%=@crypto.eos[:change_usd]%>">      <%=number_to_currency(@crypto.eos[:price])%> </td>
                                              <td class="<%=@crypto.color(@crypto.eos[:change_usd])%>">      <%=number_to_currency(@crypto.eos[:change_usd])%> </td>
                                              <td class="<%=@crypto.color(@crypto.eos[:change_usd])%>">      % <%=@crypto.eos[:change_percent]%>  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <h4> Latest News Feed <h4>
                              <!-- ############ NEW feeds-->
                              <h4> React <h4>

                                <%= react_component 'News', {prerender: true} %>
                              <% x = 0 %>
                              <% while x<=40 %>
                                        <div class="row no-gutters p-2 box">

                                                  <div class= "col-md-2 p-2 ">
                                                <a href="#"><img src="<%= @news_body["Data"][x]["imageurl"]%>" class=" float-left img-fluid rounded-sm" alt="..."></a>
                                                  </div>
                                                  <div class="col-md-10 p-2">

                                                  <a href="<%=@news_body["Data"][x]["url"]%>" class="text-primary mr-2 _600"><%= @news_body["Data"][x]["title"] %></a>
                                                  <div class="p-1">
                                                  <small class="font-weight-light my-1 "><%=@news_body["Data"][x]["body"]%>
                                                            </small>
                                                 </div>
                                                 <div class="row">
                                        <span class="badge text-sm  text-left text-warning pl-3 col">   <%=time_ago_in_words(@news_body["Data"][x]["published_on"])%> ago</span>
                                        <%x+=1%>
                                        </div>
                                                </div>
                                        </div>
                               <% end %>
                 <!-- ############ NEW feeds-->


                            </div>
                        </div>
                    </div>
                    <!-- ############ Main END-->
                    <!-- Footer -->
                    <div class="content-footer white d-block" id="content-footer">
                        <div class="d-flex p-3">
                            <span class="text-sm text-muted flex">&copy; Copyright. BlockcoinX</span>
                            <div class="text-sm text-muted">Version 1.2.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ############ Content END-->
            <!-- ############ LAYOUT END-->
        </div>

        <!-- build:js ../assets/js/app.min.js -->
        <!-- jQuery -->
        <script src="../libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- core -->
        <script src="../libs/pace-progress/pace.min.js"></script>
        <script src="../libs/pjax/pjax.min.js"></script>
        <script src="../assets/js/lazyload.config.js"></script>
        <script src="../assets/js/lazyload.js"></script>
        <script src="../assets/js/plugin.js"></script>
        <script src="../assets/js/nav.js"></script>
        <script src="../assets/js/scrollto.js"></script>
        <script src="../assets/js/toggleclass.js"></script>
        <script src="../assets/js/theme.js"></script>
        <script src="../assets/js/ajax.js"></script>
        <script src="../assets/js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
